h1 {
  font-weight: 600 !important;
  font-size: 22px !important;
}

aside {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  padding-inline: 1rem;
  padding-top: 1rem;
  background-color: #fff;
}

aside img {
  width: 40px;
}

.aside-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside li a {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  border-radius: 5px;
}

aside li a:hover {
  background-color: #87c0f3;
  transition: all 0.2s ease-in-out;
}

li i {
  font-size: 20px;
}

nav {
  padding-top: 1rem;
  margin-left: 23%;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #bec8d0;
  padding-block: 1rem;
  padding-inline: 1rem;
  margin-top: 2rem;
  margin-left: 20%;
}

.menu-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard {
  display: flex;
  gap: 2rem;
}

.peminjaman-ruangan {
  background-color: #fff;
  border-radius: 16px;
  width: 100vw;
  padding: 1rem;
  color: #828282;
}

.peminjaman-ruangan h1 {
  padding-bottom: 1rem;
}

.time-peminjaman {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date-peminjaman {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.peminjaman-list {
  padding-left: 1rem;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.peminjaman-list img {
  width: 40px;
}

.peminjaman-description {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.peminjaman-date {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #32936f;
  border-radius: 8px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.peminjaman-date img {
  width: 20px;
}

.time-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.time-description p:first-child {
  color: #32936f;
}

.date-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date-description p:first-child {
  color: #32936f;
}

.agenda-acara {
  display: flex;
  flex-direction: column;
  width: 70vw;
  gap: 1rem;
}

.agenda-acara h1 {
  font-size: 24px;
}

.agenda-acara__blue {
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  background-color: #5570f1;
}

.agenda-acara__gray {
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff9e;
}

.agenda-acara__title {
  padding-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.agenda-acara__blue .agenda-acara__icon {
  border-radius: 10px;
  background-color: #ffffff40;
  padding: 0.5rem;
  padding-bottom: 0.3rem;
}

.agenda-acara__gray .agenda-acara__icon {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0.5rem;
  padding-bottom: 0.3rem;
}

.agenda-acara__description {
  display: flex;
  gap: 7rem;
}

.agenda-acara__date,
.agenda-acara__active {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.agenda-acara__date p:first-child,
.agenda-acara__active p:first-child {
  font-size: 14px;
}

.agenda-acara__date p:nth-child(2),
.agenda-acara__active p:nth-child(2) {
  font-size: 20px;
}

.status-surat {
  background-color: #fff;
  border-radius: 16px;
  padding: 2rem;
}

.dt-length {
  display: none;
}

.agenda-acara .dt-length {
  display: block;
}

.white-bg {
  background-color: #fff;
}

.bluesky-bg {
  background-color: #cde1f0;
}

.first-td {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-surat {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  padding-block: 0.5rem;
}

.add-button {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 40px;
  color: #fff;
  background-color: #2b00d4;
}

.ruangan-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ruangan-item {
  color: #fff;
  background-color: #272a34;
  width: 15.4rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.ruangan-title {
  font-size: 18px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.ruangan-body {
  color: #828282;
  font-size: 14px;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

.ruangan-action {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 14px;
  align-items: center;
}

.ruangan-action p {
  color: #38f2af;
}

.ruangan-action button {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.3rem;
  padding-inline: 0.8rem;
  border-radius: 20px;
  background-color: transparent;
}
